 langchain
 huggingface_hub
 tiktoken
 chromadb
 pypdf
 sentence_transformers
 InstructorEmbedding
 langchain-community
 langchain-huggingface
 streamlit
 python-dotenv
 streamlit-extras
 streamlit-navigation-bar
 pymilvus
 google-generativeai
 langchain_milvus 
